{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>회원가입</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        {{ error }}
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action=".">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">  <!-- 여기서의 label은 form에 있는 label 이다 !! -->
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <!-- 이 라벨은 입력칸 위에 '이메일' '비밀번호' '비밀번호 확인' 인듯 함 !! -->
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
            placeholder="{{ field.label }}" name="{{ field.name }}" /> <!-- 여기 이런식으로 들어오는 방식에 대해선 공부좀해야할듯 ㅜㅜ -->
            <!-- 입력타입은 위젯으로 설정한단거고 class 저거는 크기 맞게 조절, id는 라벨명을 id로 취급하겠다인듯하고(css class처럼 별명느낌), placeholder는 회색글씨 -->
        </div>
        {% if field.errors %}
        <span style="color: red">{{ field.errors }}</span>
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">회원가입</button>
        </form>
    </div>
</div>
{% endblock %}
