{% extends "base.html"%}
{% block contents %}
{%load static %}
{% comment %} 헤더 추가시 {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
<header id="header_index" style="background-color: #fff; border-bottom: 1px solid #ddd;">
  <div id="h_in">
    <div class="logo"><a href="/"><img src="{%static 'img/logo.png' %}" alt=""></a></div>
    <ul class="menu">
      <li class="m1" onclick="location.href='/changeurl/show/'">상세페이지 만들기</li>
      <li class="m2" onclick="location.href='/changeurl/analyze'">마케팅 페이지</li>
    </ul>
    <ul class="tnb">
      <li onclick="location.href='/before/'">로그인</li>
      <li onclick="location.href='/users/agreement/'">회원가입</li>
      <li>고객센터</li>
    </ul>
  </div>
</header>
{% comment %} 헤더 {% endcomment %}
<div class="container">
  <form action='.' ,method="GET" style="text-align:center ; padding-top:30px">
    <input name="data_analysis" placeholder="검색할 키워드를 입력하세요">
    <input type="submit" value="분석">



    <p style="margin-top: 15px">데이터 정보입니다.</p>

    {{df | safe}}

    <div class="row mt-5">
      <button type="button" onclick="location.href='/'" class="btn btn-light">돌아가기</button>
      <div class="col-12">
        {% comment %} 상대 경로 이용하기 {% endcomment %}
        <button type="button" onclick="location.href='../search/'" class="btn btn-light">데이터 가져오기</button>
      </div>
    </div>





</div>

<footer id="index_footer" style="margin-top :30px">
  <div class="f_in">
    <div class="f_left">
      <p class="f_addr">부산 금정구 금정로 2255층<br>
        Tel. 070-4108-1119 Fax. 050-4005-1119 E-mail. wogh1759@naver.com Phone. 010-8466-0006
      <p class="f_copy">Copyright © semicolons.co.kr All rights reserved.</p>
    </div>

</footer>

<style>
  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }

  th,
  td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
</style>


{% endblock %}